body {
    text-align: center;
    overflow: hidden;
    background: #00000a
}

.scoreboard, .livescounter {
    font-size: 20px;
    color: #da0b0b;
    text-align: center;
    font-weight: bold;
}

.score, .lives {
    font-size: 20px;
    color: #da0b0b;
}