body {
    text-align: center;
    overflow: hidden;
    background: #00000a;
    font-family: Helvetica, sans-serif;
}

.scoreboard,
.livescounter {
    font-size: 20px;
    color: #da0b0b;
    font-weight: bold;
    display: inline-block;
    width: 25%
}

.score,
.lives {
    font-size: 20px;
    color: #da0b0b;
}

.rules {
    float: right;
    display: inline-block;
    font-size: 20px;
    color: white;
    width: 25%;
    text-align: left;
}